.Answer {
    width: 45%;
    height: 110px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid darkorange;
    background: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 7px;
    &:hover {
        cursor: pointer;
        background: lightskyblue;
    }
}
.RightAnswer {
    background: green;
}
.WrongAnswer {
    background: tomato;
}

.FlagAnswerImg {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}