.TimerBlock {
    display: flex;
    justify-content: center;
    width: 350px;
    height: fit-content;
    color: darkmagenta;
    background: white;
    border: 3px solid darkorange;
    margin-bottom: 30px;
    align-self: flex-start;
    padding: 20px;
    box-sizing: border-box;
    h1 {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }
}